Beaker==1.6.3
Flask==0.9
Jinja2==2.6
Pygments==1.5
Werkzeug==0.8.3
gevent==0.13.7
greenlet==0.4.0
gunicorn==0.14.6
python-dateutil==2.1
python-magic==0.4.2
six==1.1.0
wsgiref==0.1.2
-e git+git://github.com/jedahu/asciicode.git@f4e9d310ca3026591425ff52779bc2e4992d13aa#egg=AsciiCode
-e git+git://github.com/jedahu/asciidoc.git@0d2c66051fc4fcc1ed97147c884611737e8b632b#egg=AsciiDoc
-e git+git://github.com/jedahu/flog.git@958913153933d78cfe6c58bc4e52e4715d3eccac#egg=Flog
